<h1>All of the Cocktails</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ingredients</th>
      <th>Dose</th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%=  link_to 'Show', cocktail, class: "btn btn-primary"%></td>
        <td><%=  link_to 'Edit', edit_cocktail_path(cocktail), class: "btn btn-primary"%></td>
        <td><%=  link_to 'Destroy', cocktail, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Cocktail", new_cocktail_path, class: "btn btn-primary" %>
